.card {
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 90%;
  max-width: 700px;
}

@media screen and (min-width: 800px) {
  .card {
    margin-top: 50px;
  }
}

@-webkit-keyframes showHideHey {
  15%, 75% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  90%, 100% {
    -webkit-transform: translate(0, 110%);
            transform: translate(0, 110%);
  }
}

@keyframes showHideHey {
  15%, 75% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  90%, 100% {
    -webkit-transform: translate(0, 110%);
            transform: translate(0, 110%);
  }
}

@-webkit-keyframes showName {
  75% {
    -webkit-transform: translate(0, 110%);
            transform: translate(0, 110%);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes showName {
  75% {
    -webkit-transform: translate(0, 110%);
            transform: translate(0, 110%);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes showBottom {
  45% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  60%, 75% {
    -webkit-transform: translate(0, -80%);
            transform: translate(0, -80%);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes showBottom {
  45% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  60%, 75% {
    -webkit-transform: translate(0, -80%);
            transform: translate(0, -80%);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes showSocialIcon {
  75% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    opacity: 0;
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showSocialIcon {
  75% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    opacity: 0;
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

#namecard {
  background: linear-gradient(-45deg, #3B4252, #2E3440, #2E3440, #3B4252);
}

@media screen and (min-width: 800px) {
  #namecard {
    height: 340px;
  }
}

#animated-text {
  position: relative;
  margin: auto;
  width: 80%;
  top: 20px;
}

@media screen and (min-width: 800px) {
  #animated-text {
    margin: unset;
    width: 450px;
    height: 300px;
    left: 30px;
  }
}

#animated-text .top-half {
  border-bottom: 1px solid #ECEFF4;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
}

#animated-text .top-half div {
  position: absolute;
  padding-left: 4px;
  top: 5px;
  color: #88C0D0;
  font-size: 24pt;
  font-weight: 500;
  -webkit-transform: translate(0, 110%);
          transform: translate(0, 110%);
}

#animated-text .top-half .namecard-hey {
  -webkit-animation: showHideHey 2s;
          animation: showHideHey 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#animated-text .top-half .namecard-name {
  -webkit-animation: showName 2s;
          animation: showName 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#animated-text .bottom-half {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#animated-text .bottom-half .namecard-text {
  display: block;
  padding-left: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 13pt;
  font-weight: 300;
  -webkit-animation: showBottom 2s;
          animation: showBottom 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

#animated-text .bottom-half .namecard-text .hey {
  color: #88C0D0;
  font-weight: 500;
}

#animated-text .bottom-half .namecard-text .ucb {
  color: #5E81AC;
}

#animated-text .bottom-half .namecard-text .amazon {
  color: #D08770;
}

#animated-text .bottom-half .namecard-text .robinhood {
  color: #A3BE8C;
}

#animated-text .bottom-half .namecard-text .cs161 {
  color: #B48EAD;
}

#animated-text .bottom-half .namecard-text .cs186 {
  color: #B48EAD;
}

#animated-icons {
  position: relative;
  margin: auto;
  width: 200px;
  height: 270px;
  top: 5px;
}

#animated-icons .social-icon-github {
  left: 55px;
}

#animated-icons .social-icon-linkedin {
  right: 50px;
}

#animated-icons img[class^='social-icon'] {
  position: absolute;
  bottom: 35px;
  opacity: 0;
  -webkit-animation: showSocialIcon 2s;
          animation: showSocialIcon 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-filter: invert(94%) sepia(3%) saturate(945%) hue-rotate(187deg) brightness(60%) contrast(89%);
          filter: invert(94%) sepia(3%) saturate(945%) hue-rotate(187deg) brightness(60%) contrast(89%);
  -webkit-transition: -webkit-filter 0.2s ease-out;
  transition: -webkit-filter 0.2s ease-out;
  transition: filter 0.2s ease-out;
  transition: filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
}

#animated-icons img[class^='social-icon']:hover {
  -webkit-filter: invert(97%) sepia(2%) saturate(533%) hue-rotate(184deg) brightness(97%) contrast(97%);
          filter: invert(97%) sepia(2%) saturate(533%) hue-rotate(184deg) brightness(97%) contrast(97%);
}

@media screen and (min-width: 800px) {
  #animated-icons {
    position: absolute;
    height: 275px;
    top: 30px;
    right: 10px;
  }
}

@-webkit-keyframes showCard {
  75% {
    -webkit-transform: translate(0, -5%);
            transform: translate(0, -5%);
    opacity: 0;
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showCard {
  75% {
    -webkit-transform: translate(0, -5%);
            transform: translate(0, -5%);
    opacity: 0;
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

#activitycard {
  background: -webkit-gradient(linear, right top, left top, from(#3B4252), to(#2E3440));
  background: linear-gradient(-90deg, #3B4252, #2E3440);
  height: 500px;
  opacity: 0;
  -webkit-animation: showCard 2s;
          animation: showCard 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate(0, -5%);
          transform: translate(0, -5%);
}

#activitycard div {
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
  font-size: 20pt;
}

body {
  background: #2E3440;
  color: #ECEFF4;
  font-family: 'Raleway', sans-serif;
}
/*# sourceMappingURL=home.css.map */