@keyframes showHideHey {
	15%, 75% { transform: translate(0, 0); }
	90%, 100% { transform: translate(0, 110%); }
}

@keyframes showName {
	75% { transform: translate(0, 110%); }
	90%, 100% { transform: translate(0, 0); }
}

@keyframes showBottom {
	45% { transform: translate(0, -100%); }
	60%, 75% { transform: translate(0, -70%); }
	90%, 100% { transform: translate(0, 0); }
}

@keyframes showSocialIcon {
	75% { transform: translate(0, -100%);
		opacity: 0;
	}

	90%, 100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

#namecard {
	background: linear-gradient(-45deg, $nord1, $nord0, $nord0, $nord1);

	@media screen and (min-width: $desktop) {
		height: 420px;
	}
}

#animated-text {
	position: relative;
	margin: auto;
	width: 80%;
	top: 17.5px;

	@media screen and (min-width: $desktop) {
		margin: unset;
		width: 450px;
		height: 300px;
		left: 30px;
	}

	.top-half {
		border-bottom: 1px solid $nord6;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 50px;

		div {
			position: absolute;
			padding-left: 4px;
			top: 5px;

			color: $nord8;
			font-size: 24pt;
			font-weight: 500;

			transform: translate(0, 110%);
		}

		.namecard-hey {
			animation: showHideHey 2s;
			animation-delay: 0.5s;
			animation-fill-mode: forwards;
		}

		.namecard-name {
			animation: showName 2s;
			animation-delay: 0.5s;
			animation-fill-mode: forwards;
		}
	}

	.bottom-half {
		position: relative;
		overflow: hidden;
		width: 100%;

		.namecard-text {
			display: block;
			padding-left: 5px;
			padding-top: 9px;
			padding-bottom: 9px;

			font-size: 13pt;
			font-weight: 300;

			animation: showBottom 2s;
			animation-delay: 0.5s;
			animation-fill-mode: forwards;
			transform: translate(0, -100%);

			.hey {
				color: $nord8;
				font-weight: 500;
				cursor: pointer;
			}

			.ucb {
				color: $nord10;
				font-weight: 500;
			}

			.amazon {
				color: $nord12;
				font-weight: 500;
			}

			.tesla {
				color: $nord11;
				font-weight: 500;
			}

			.upe {
				color: $nord9;
				font-weight: 500;
			}
		}
	}
}

#animated-icons {
	position: relative;
	margin: auto;
	width: 200px;
	height: 270px;

	.pfp-hey {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	.social-icon-github {
		left: 55px;
	}

	.social-icon-linkedin {
		right: 50px;
	}

	img[class^='social-icon'] {
		position: absolute;
		bottom: 35px;
		opacity: 0;

		animation: showSocialIcon 2s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
		transform: translate(0, -100%);

		filter: invert(94%) sepia(3%) saturate(945%) hue-rotate(187deg) brightness(60%) contrast(89%);
		transition: filter 0.2s ease-out;

		&:hover {
			filter: invert(97%) sepia(2%) saturate(533%) hue-rotate(184deg) brightness(97%) contrast(97%);
		}
	}

	@media screen and (min-width: $desktop) {
		position: absolute;
		height: 275px;
		top: 72.5px;
		right: 10px;
	}
}
